form
{
    display: flex;
    justify-content: center;
}
.form-container
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 600px;
}

input[type=text],[type=number],[type=file], select
{
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px;
}
.input-button
{
    margin: 10px;
    padding: 20px 8px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;

}